---
layout: default
title: Blog
---
<div class="row">
  <div class="col-md-12">
    <h1>Latest from the Blog</h1>
  </div>
</div>

<div class="row">
  {% assign counter = 0 %}
  {% assign maxPostCount = 4 %}
  {% for post in site.posts %}
    {% if counter < maxPostCount %}
      <div class="col-md-6" style="min-height: 420px">
        <h3>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <p>
          {{ post.summary | strip_html | truncatewords: 50 }}
        </p>
        <p><a href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
      </div>
      {% assign counter=counter | plus:1 %}
    {% endif %}
  {% endfor %}
</div>
