/* Code */

code {
  background: var(--color-tertiary);
  border-radius: .4rem;
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre {
  background: var(--color-tertiary);
  border-left: .3rem solid var(--color-primary);
  overflow-y: hidden;

  & > code {
    border-radius: 0;
    display: block;
    line-height: var(--rhythm-main);
    padding: 0 var(--rhythm-side);
    white-space: pre;
  }
}
