/* Milligram CSS Framework */

@import "color.css";
@import "base.css";
@import "blockquote.css";
@import "button.css";
@import "code.css";
@import "divider.css";
@import "form.css";
@import "grid.css";
@import "link.css";
@import "list.css";
@import "spacing.css";
@import "table.css";
@import "typography.css";
@import "image.css";
@import "utility.css";
