<div class="row">
  <div class="column">
    <h2>Products from Speedshop</h2>
  </div>
</div>
<div style="margin-bottom: 2rem" class="row">
  <div class="column column-50 column-collapsible">
    <p>
      <b>The Complete Guide to
      Rails Performance</b> is a full-stack performance book that gives
      you the tools to make Ruby on Rails applications
      faster, more scalable, and simpler to maintain.
    </p>
    <a class="button" style="width: 100%;font-family:Helvetica Neue,Helvetica,Arial;font-size: 2rem;color:white" href="https://www.railsspeed.com/">Learn more</a>
  </div>
  <div class="column column-50 no-mobile">
    <img src='/assets/img/coursestuff.jpg' loading="lazy">
  </div>
</div>
<div style="margin-bottom: 2rem" class="row">
  <div class="column column-50 column-collapsible">
    <p>
      <b>The Rails Performance Workshop</b> is the big brother to my book. 
      Learn step-by-step how to make your Rails app as fast as possible through a 
      comprehensive video and hands-on workshop.
      Available for individuals, groups and large teams.
    </p>
    <a class="button" style="width: 100%;font-family:Helvetica Neue,Helvetica,Arial;font-size: 2rem;color:white" href="https://www.railsspeed.com/">Learn more</a>
  </div>
  <div class="column column-50 no-mobile">
    <img src='/assets/img/rpworkshop.jpg' loading="lazy">
  </div>
</div>
