<div class="row">
  <div class="column">
    <h2>The Complete Guide to Rails Performance</h2>
  </div>
</div>
<div style="margin-bottom: 2rem" class="row">
  <div class="column column-50 column-collapsible">
    <p>
      Look what I wrote! The Complete Guide to
      Rails Performance is a full-stack course that gives
      you the tools to make Ruby on Rails applications
      faster, more scalable, and simpler to maintain.
      It includes a 361 page PDF, private Slack, and over
      15 hours of video content.
    </p>
    <a class="button" style="width: 100%;font-family:Helvetica Neue,Helvetica,Arial;font-size: 2rem;color:white" href="https://www.railsspeed.com/">Learn more</a>
  </div>
  <div class="column column-50 no-mobile">
    <img src='/assets/img/coursestuff.jpg' loading="lazy">
  </div>
</div>
