<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.summary | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="stylesheet" href="/assets/css/app.css">

  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: site.url }}">

  <script src="/assets/js/quicklink.js" async></script>
  <script src="/assets/js/pjax.js" async></script>

  {% include icons.html %}
  {% include twitter.html %}
  {% include opengraph.html %}
  {% include structured_data.html %}
</head>
