<!-- Begin MailChimp Signup Form -->

<form class="mailchimp validate" action="//nateberkopec.us11.list-manage.com/subscribe/post?u=1aa0f43522f6d9ef96d1c5d6f&amp;id=840412962b" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate style="width:100%">
	<input type="email" aria-label="Your email address" value="" name="EMAIL" class="email" placeholder="yourawesomeemail@cool.com" required >
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1aa0f43522f6d9ef96d1c5d6f_840412962b" tabindex="-1" value=""></div>
  <input type="submit" style="padding: 0 1rem" value="SUBSCRIBE!" name="subscribe" class="button">
</form>

<!--End mc_embed_signup-->
