<div class="row">
  <div class="column">
    <h2>Want a faster website?</h2>
  </div>
</div>

<div class="row">
  <div class="column column-50 column-collapsible">
    <p>
      I'm Nate Berkopec
      (<a target="_blank" href="https://twitter.com/nateberkopec">@nateberkopec</a>).
      I write online about web performance from a full-stack developer's
      perspective. I primarily write about frontend performance and Ruby
      backends. If you liked this article and want to hear about the next
      one, click below. I don't spam - you'll receive about 1 email per week.
      It's all low-key, straight from me.
    </p>
  </div>
  <div class="column column-50 column-collapsible">
    {% include mailchimp.html %}
    {% include contact_cta.html %}
  </div>
</div>
