<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.summary | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  {% assign custom_url = site.url | append: site.baseurl %}
  {% assign full_base_url = custom_url %}
  <link rel="stylesheet" href="/assets/css/posts.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: full_base_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: full_base_url }}">

  <script src="/assets/js/instant.js" type="module" defer></script>

  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      var cookieRegex = /(?:(?:^|.*;\s*)nateberkopecShowSignup\s*\=\s*([^;]*).*$)|^.*$/

      setTimeout(function(){
        if (document.cookie.match(cookieRegex, "$1")[1] !== "true") {
          showSignup();
        }
      }, 60000);

      function showSignup(){
        el = document.getElementById("innocuous");
        el.style.display = "block";
      }

      el = document.getElementById("innocuous-close");
      el.addEventListener("click", function() {
        document.getElementById("innocuous").style.display = "none";
        document.cookie = "nateberkopecShowSignup=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
      });
    });
  </script>

  {% include icons.html %}
  {% include twitter.html %}
  {% include opengraph.html %}
  {% include structured_data.html %}
</head>
