<div style="margin: 10px 0;">
  <span style="display: inline-block; margin: 0 10px 0 0">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="nateberkopec" data-related="nateberkopec" data-hashtags="ruby" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </span>

  <span style="display: inline-block; margin: 0 10px 0 0; position: relative; top: -5px">
  <script type="text/javascript" src="//www.reddit.com/buttonlite.js?i=1"></script>
  </span>

  <span style="display: inline-block; margin: 0 10px 0 0">
  <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
  <script src="//hnbutton.appspot.com/static/hn.min.js" async defer></script>
  </span>
</div>
