<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@nateberkopec">
<meta name="twitter:image" content="{% if page.image %}{{ site.url | append: '/assets/posts/img/' | append: page.image }}{% else %}{{ site.url | append: '/assets/img/' | append: 'opengraph.jpg' }}{% endif %}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
<meta name="twitter:description" content="{{ page.summary | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
