.post
  font-family: Georgia,Cambria,"Times New Roman",Times,serif
  margin-top: 2rem

  dl,
  ol,
  ul,
  code,
  p
    font-size: 2.2rem

  @media screen and (max-width: $mini-breakpoint)
    dl,
    ol,
    ul,
    code,
    p
      font-size: 1.7rem

  img
    max-width: 100%

  .sidenote, .marginnote
    float: right
    clear: right
    margin-right: -50%
    width: 43%
    margin-top: 0rem
    margin-bottom: 1.96rem
    font-size: 0.65em
    vertical-align: baseline
    position: relative

  .sidenote img, .marginnote img
    height: auto
    max-width: 100%

  .sidenote-parens
    display: none

  @media screen and (max-width: $medium-breakpoint)
    .sidenote, .sidenote-number
      display: none
    .sidenote-parens
      display: inline
    .marginnote
      width: auto
      text-align: center
      margin: 0
      float: none
      display: block
    .no-mobile
      display: none

  @media screen and (min-width: $hd-breakpoint)
    .sidenote img, .marginnote img
      max-width: 200%

  .footnotes
    margin-bottom: 1.4rem

  .newthought
    font-variant: small-caps
