.post
  font-family: Georgia,Cambria,"Times New Roman",Times,serif

  p
    font-size: 2.2rem

  dl,
  ol,
  ul
    font-size: 2.2rem

  code
    font-size: 2.2rem

  img
    max-width: 100%

  .sidenote, .marginnote
    float: right
    clear: right
    margin-right: -70%
    width: 60%
    margin-top: 0rem
    margin-bottom: 1.96rem
    font-size: 0.65em
    vertical-align: baseline
    position: relative

  .sidenote img, .marginnote img
    max-width: 100%

  @media screen and (max-width: 600px)
    .sidenote, .marginnote
      width: 25%
      margin-right: -35%
    .no-mobile
      display: none

  @media screen and (max-width: 400px)
    .sidenote, .marginnote
      display: none

  .footnotes
    margin-bottom: 1.4rem

  .newthought
    font-variant: small-caps
