
@charset "utf-8"

$color-initial: #fff
$color-primary: #9b4dca
$color-secondary: #000
$color-tertiary: #f4f5f6
$color-quaternary: #d1d1d1
$color-quinary: #e1e1e1

@import "mini-reset"
@import "milligram/milligram"
@import "overrides"
@import "home"
@import "visibility"
@import "animation"
