
@charset "utf-8"

$color-initial: #fff
$color-primary: #9b4dca
$color-secondary: #000
$color-tertiary: #f4f5f6
$color-quaternary: #d1d1d1
$color-quinary: #e1e1e1

@import "mini-reset.css"
@import "milligram/milligram"
@import "home"
@import "visibility"

.full-height
  height: 100%

ol
  list-style: decimal outside

ul
  list-style: square outside

html
  height: 100%
  width: 100%

video
  position: absolute
  top: 0%
  left: 2px
  width: 70%
  z-index: -1
  overflow: hidden
  filter: contrast(150%) brightness(2) blur(2px)
