---
layout: default
title: The Speedshop Ruby on Rails Performance Blog
summary: "The #1 Rails performance blog on the web. Make your Rails app faster - read on!"
---
<div class="container">
  <div class="row" style="margin-top: 3rem">
    <div class="column">
      {% asset "speedshop_wordmark_blog.svg" @inline %}
      <h2 style="display: inline-block">
        The #1 Rails performance blog on the web.

        <a style="font-weight: 300; font-size: 2rem;" href="/">(what's Speedshop?)</a>
      </h2>
    </div>
  </div>

  {% assign counter = 0 %}
  {% assign maxPostsPerRow = 2 %}
  {% assign post_counter = 0 %}
  {% for post in site.posts %}
    {% if counter == 0 %}
      <div class="row">
    {% endif %}

    <div class="column column-50 column-collapsible">
      <h3>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h3>
      <p>
        {{ post.summary | strip_html | truncatewords: 50 }}
      </p>
      <p><a href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
    </div>
    {% assign counter=counter | plus:1 %}
    {% assign post_counter=post_counter | plus:1 %}

    {% assign posts_count = site.posts | size %}
    {% if counter == maxPostsPerRow or post_counter == posts_count %}
      </div>
      {% assign counter = 0 %}
    {% endif %}
  {% endfor %}

  <hr>

  {% include cgrp.html %}

  <hr>

  {% include mailing.html %}

</div>
