<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include post_head.html %}

  <body>
    <main aria-label="Content">
      <div class="container">
        <div class="post">
          <div class="row">
            <div class="column column-67 column-collapsible">
              <article>
                <h1 style="margin-bottom: 1rem;">{{ page.title | titleize }}</h1>
                <div style="margin: 0rem 0 2rem 0">
                  <div>by <b>Nate Berkopec</b> (<a target="_blank" href="http://twitter.com/nateberkopec">@nateberkopec</a>) of <a target="_blank" href="/">Speedshop</a>, a Rails performance consultancy.</div>
                </div>

                <div class="marginnote">
                  {% include social-bar.html %}
                </div>

                {% if page.summary %}
                  <p style="background: rgb(221, 221, 221); padding: 10px">
                    <b>Summary:</b> {{ page.summary }} <i>({{page.readtime}})</i>
                  </p>
                {% endif %}

                {{ content }}

                {% include social-bar.html %}
                <div style="height: 3rem"></div>
              </article>
            </div>
          </div>

          {% include mailing.html %}

          {% include cgrp.html %}

          <div class="row">
            <div class="column">
              <h2>More Posts</h2>
            </div>
          </div>

          {% for post in site.posts %}
            {% if post.title != page.title %}
              {% cycle 'add row' : '<div class="row">', nil %}
                <div class="column column-50 column-collapsible">
                  <h3>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </h3>
                  <p>
                    {{ post.summary | strip_html | truncatewords: 50 }}
                  </p>
                  <p><a href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
                </div>
              {% cycle 'end row' : nil, '</div>' %}
            {% endif %}

          {% endfor %}
          {% cycle 'end row' : nil, '</div>' %}
        </div>
        <div id="innocuous" class="fader-fast innocuous">
          <a id="innocuous-close" style="position: absolute;top:-10px;right:10px;color:red;font-weight:bold;font-size:40px">X</a>
          <h4 style="margin-bottom:10px">Get notified on new posts.</h4>
          <p style="margin-bottom:10px">Straight from the author. No spam, no bullshit. Frequent email-only content.</p>
          {% include mailchimp.html %}
        </div>
      </div>
    </main>
  </body>
</html>
